/* body {
    width: 100vw;
    min-height: 100vh;
    background: conic-gradient(
        #fff 5deg, 
        #000 30deg, 
        #fff 5deg, #000);
    color: #fff;
    font-size: 3rem;
}
h1 {
    padding: 2rem;
    margin: 0;
    text-shadow: 0.5rem 0.5rem 0 #0002;
    
} */

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    background: radial-gradient(#6e7dab 70%, transparent 30%),
      radial-gradient(#6e7dab 70%, transparent 30%), #5762d5;
    background-size: 2vw 2vw;
  }
.clock {
    --hour-hand-color: #5ca;
    --hour-hand-degrees: 0deg;
    --minute-hand-color: #5ca;
    --minute-hand-degrees: 0deg;
    --second-hand-color: #cde;
    --second-hand-degrees: 0deg;
    --start: 0deg;
    --end: 0deg;
    --numbers-color: #153131;
    --bullets-color: #52489c;

    position: relative;
    min-width: 20rem;
    min-height: 20rem;
    width: 25vw;
    height: 25vh;
    border: 0.5rem solid #9de;
    border-radius: 50%;
    margin: 0 auto;

    background: conic-gradient(
        from var(--start),
        #fff 2deg, 
        #0005 var(--end), 
        #fff 2deg,
        #0007);
        box-shadow: inset 0.25rem 0.25rem 0.5rem #0005,
        inset -0.25rem -0.25rem 0.5rem #6665;
    overflow: hidden;
}
.clock::before{
    position: absolute;
    content: "";
    z-index: -1;
    width: 100%;
    height: 100%;
    background: #1ec;
    background: radial-gradient(
        circle, #1ec8, #1ec
    );
}
.hand {
    position: absolute;
    left: 50%;
    bottom: 50%;
    height: 45%;
    width: 0.25rem;
    margin-left: -0.125rem;
    background: var(--second-hand-color);
    border-radius: 0.375rem;
    transform-origin: bottom center;
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}
.second-hand {
    transform: rotate(var(--second-hand-degrees));
}
.hour-hand {
    height: 35%;
    border-radius: 2.5rem;
    background-color: var(--hour-hand-color);
    transform: rotate(var(--hour-hand-degrees));
}
.minute-hand {
    height: 50%;
    background-color: var(--minute-hand-color);
    transform: rotate(var(--minute-hand-degrees));
}
.clock ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.clock ul li {
    position: absolute;
    width: 1rem;
    height: 1rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 1rem;
    line-height: 1rem;
    text-align: center;
    color: var(--bullets-color);
}


.clock ul li:nth-child(1) {
  top: 7.5%;
  right: 23%;
}

.clock ul li:nth-child(2) {
  top: 25.5%;
  right: 6.75%;
}

.clock ul li:nth-child(3) {
  top: calc(50% - 13px);
  right: 2%;
  font-size: 26px;
  color: var(--numbers-color);
}

.clock ul li:nth-child(4) {
  top: 70%;
  right: 7%;
}

.clock ul li:nth-child(5) {
  top: 87%;
  right: 23.5%;
}

.clock ul li:nth-child(6) {
  top: calc(99% - 26px);
  right: calc(50% - 10px);
  font-size: 26px;
  color: var(--numbers-color);
}

.clock ul li:nth-child(7) {
  top: 86.4%;
  left: 23.3%;
}

.clock ul li:nth-child(8) {
  top: 70%;
  left: 7%;
}

.clock ul li:nth-child(9) {
  top: calc(50% - 13px);
  left: 2%;
  font-size: 26px;
  color: var(--numbers-color);
}

.clock ul li:nth-child(10) {
  top: 24.5%;
  left: 6.5%;
}

.clock ul li:nth-child(11) {
  top: 7%;
  left: 23.5%;
}

.clock ul li:nth-child(12) {
  top: 2%;
  right: calc(50% - 7px);
  font-size: 26px;
  color: var(--numbers-color);
}

